[Desktop Entry]
Name=Brightness App
Comment=Adjust the brightness of your monitor
Exec=/usr/local/bin/brightness-app
Icon=/usr/share/pixmaps/brightness_icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
